@tailwind base;
@tailwind components;
@tailwind utilities;

.name {
  font-family: "Chillax", sans-serif;
  font-weight: 900;
}

.star {
  font-family: "Stardom", sans-serif;
}

.body {
  font-family: "Work Sans", sans-serif;
}

.pattern {
  background-image: url(../src/assets/qqquad.svg);
  background-attachment: fixed;
}

.chaos {
  background-image: url(../src/assets/ccchaos.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.mask {
  mask-image: url(./assets/cir.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 0%;
  background: red;
  color: white;
}

.mask-show {
  animation: show 1s linear forwards;
}

@keyframes show {
  from {
    mask-size: 0%;
    opacity: 0;
  }

  to {
    mask-size: 500%;
    display: block;
    opacity: 1;
  }
}

.mask-hide {
  animation: hide 1s linear forwards;
}

@keyframes hide {
  from {
    mask-size: 550%;
    opacity: 1;
  }

  to {
    mask-size: 0%;
    opacity: 0;
    display: hidden;
  }
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f41415;
  background-image: url(./assets/red.svg);
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f41415;
  background-image: url(./assets/red.svg);
  transform-origin: top;
}

.anim {
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
